{{#if (is-pending _legends)}}
    {{#if lazyLoaded}}
        <div class="ui tiny progress flexberry-progressbar" data-value="99" data-total="100">
            <div class="bar"></div>
            <div class="label">{{t "components.legends.esri-dynamic.loading.caption"}}</div>
        </div>
    {{/if}}
{{else}}
    {{#each (await _legends) as |legend|}}
        <div class="{{flexberryClassNames.imageWrapper}}">
        <img class="{{flexberryClassNames.image}}" src="{{legend.src}}">
        {{#if showLayerName}}
            <label class="layer-legend-caption">{{legend.layerName}}</label>
        {{/if}}
        </div>
    {{/each}}
{{/if}}
